on early-init
    # Configure governor settings for little cluster
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor "performance"

    # Configure governor settings for big cluster
    write /sys/devices/system/cpu/cpufreq/policy6/scaling_governor "performance"

	write /sys/devices/platform/10012000.dvfsrc/helio-dvfsrc/dvfsrc_req_ddr_opp -1

on init
    # Disable UFS powersaving
    write /sys/devices/platform/11270000.ufshci/clkgate_enable 0

    # Increase sysctl_rmem_max and sysctl_wmem_max values to 2M
    write /proc/sys/net/core/wmem_max 8388608
    write /proc/sys/net/core/rmem_max 8388608

    # Update fastcharge firmware
    write /proc/fastchg_fw_update 1
    write /proc/ui_soc_decimal 1

    # update cpus for cpuset cgroup
    write /dev/cpuset/foreground/cpus 0-7
    write /dev/cpuset/background/cpus 0-2
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/top-app/cpus 0-7

    # Configure scheduler up/down_rate_limit_us
    write /sys/devices/system/cpu/cpufreq/policy0/schedutil/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpufreq/policy0/schedutil/down_rate_limit_us 20000
    write /sys/devices/system/cpu/cpufreq/policy6/schedutil/up_rate_limit_us 1000
    write /sys/devices/system/cpu/cpufreq/policy6/schedutil/down_rate_limit_us 10000


    # ZRAM setup
    swapon_all /vendor/etc/fstab.mt6781

on post-fs-data

    # Boot time tuning
    write /sys/block/mmcblk0/queue/iostats 0
    write /sys/block/mmcblk0/queue/nr_requests 256
    write /sys/block/sda/queue/nr_requests 256
    write /sys/block/sda/queue/iostats 0
    write /sys/block/sdb/queue/iostats 0
    write /sys/block/sdb/queue/nr_requests 256
    write /sys/block/sdc/queue/iostats 0
    write /sys/block/sdc/queue/nr_requests 256

    # Power Manager
    write /sys/power/pm_async 0
    write /sys/power/pm_freeze_timeout 2000

    # set mlock to 64MB for netd
    setrlimit 8 67108864 67108864

    # set mlock limit to infinate (for m4u operation)
    setrlimit 8 -1 -1

    # Zram Algorithm
    write /sys/block/zram0/comp_algorithm lz4

on property:sys.boot_completed=1

    # Configure governor settings for little cluster
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor "schedutil"

    # Configure governor settings for big cluster
    write /sys/devices/system/cpu/cpufreq/policy6/scaling_governor "schedutil"

    # VM Tunning
    write /proc/sys/vm/page-cluster 0
    write /proc/sys/vm/swappiness 70
    write /sys/kernel/mm/swap/vma_ra_enabled false
    write /proc/sys/vm/vfs_cache_pressure 70

    # Enable UFS powersaving
    write /sys/devices/platform/11270000.ufshci/clkgate_enable 1

    # Runtime FS tuning
    write /sys/block/mmcblk0/queue/nr_requests 128
    write /sys/block/sda/queue/nr_requests 128
    write /sys/block/sdb/queue/nr_requests 128
    write /sys/block/sdc/queue/nr_requests 128

    # Configure DVFS
    write /sys/kernel/ged/hal/dvfs_margin_value 120
    write /sys/kernel/ged/hal/timer_base_dvfs_margin 700
    write /sys/kernel/ged/hal/loading_base_dvfs_step 4

    # system-background
    write /dev/cpuctl/system-background/cpu.uclamp.max 40
    write /dev/cpuctl/system-background/cpu.uclamp.min 0
    write /dev/cpuctl/system-background/cpu.uclamp.latency_sensitive 0

    # background tasks
    write /dev/cpuctl/background/cpu.uclamp.max 50
    write /dev/cpuctl/background/cpu.uclamp.min 0
    write /dev/cpuctl/background/cpu.uclamp.latency_sensitive 0

    # foreground
    write /dev/cpuctl/foreground/cpu.uclamp.max max
    write /dev/cpuctl/foreground/cpu.uclamp.min 0
    write /dev/cpuctl/foreground/cpu.uclamp.latency_sensitive 1

    # top-app
    write /dev/cpuctl/top-app/cpu.uclamp.max max
    write /dev/cpuctl/top-app/cpu.uclamp.min 45
    write /dev/cpuctl/top-app/cpu.uclamp.latency_sensitive 1

    # camera-daemon
    write /dev/cpuctl/camera-daemon/cpu.uclamp.max max
    write /dev/cpuctl/camera-daemon/cpu.uclamp.min 25
    write /dev/cpuctl/camera-daemon/cpu.uclamp.latency_sensitive 1

    # nnapi-hal
    write /dev/cpuctl/nnapi-hal/cpu.uclamp.max max
    write /dev/cpuctl/nnapi-hal/cpu.uclamp.min 70
    write /dev/cpuctl/nnapi-hal/cpu.uclamp.latency_sensitive 1

    # Enable PowerHAL hint processing
    setprop vendor.powerhal.init 1

service vendor.gralloc-4-0 /vendor/bin/hw/android.hardware.graphics.allocator@4.0-service-mediatek
    class hal animation
    interface android.hardware.graphics.allocator@4.0::IAllocator default
    user system
    group graphics drmrpc
    capabilities SYS_NICE
    onrestart restart surfaceflinger
    task_profiles ProcessCapacityHigh HighPerformance
    override

service vendor.hwcomposer-2-3 /vendor/bin/hw/android.hardware.graphics.composer@2.3-service
    class hal animation
    user system
    group graphics drmrpc
    capabilities SYS_NICE
    onrestart restart surfaceflinger
    task_profiles ProcessCapacityHigh HighPerformance
    override
